:root {
	--color: #CEFF1A;
	--bg-color: #34344A;
}

body, html {
    display: flex;
	flex-direction: column;
	justify-content: center;
	height:100%;
	margin: 0;
	background-color: var(--bg-color);
    font-family: 'Raleway', sans-serif;
}

@media (min-width: 0px) {
	html {
		font-size: 4px;
	}
}

@media (min-width: 250px) {
	html {
		font-size: 6px;
	}
}

@media (min-width: 360px) {
	html {
		font-size: 8px;
	}
}

@media (min-width: 576px) {
	html {
		font-size: 10px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 12px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 16px;
	}
}

#quote-container {
    width: 50%;
    height: 30%;
    margin: 0 auto;
	padding: 10px;
	color: var(--color);
    text-align: justify;
    display: flex;
    justify-content: center;
	flex-direction: column;
}

#quote-body {
	font-size: 3em;
}

#quote-author {
    font-size: 1.5em;
    text-align: end;
}