body, html {
    display: flex;
	flex-direction: column;
	justify-content: center;
    height:100%;
    color: #43B929;
    font-family: 'Raleway', sans-serif;
}

@media (min-width: 0px) {
	html {
		font-size: 4px;
	}
}

@media (min-width: 250px) {
	html {
		font-size: 6px;
	}
}

@media (min-width: 360px) {
	html {
		font-size: 8px;
	}
}

@media (min-width: 576px) {
	html {
		font-size: 10px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 12px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 16px;
	}
}

#quote-container {
    /* Center */
    width: 50%;
    height: 30%;
    margin: 0 auto;
    border: 3px solid #43B929;

    /* * */
    padding: 10px;

    text-align: justify;
    display: flex;
    justify-content: center;
	flex-direction: column;
	
	transition-property: width height;
	transition-duration: .3s;
}

#quote-body {
	font-size: 3em;
	
	transition-property: font-size;
	transition-duration: .3s;
}

#quote-author {
    font-size: 1.5em;
    text-align: end;
    text-decoration: underline;
}