body{
    background-color: #C0C0C0;
}

.quote-container {
    /* Center */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 30%;
    margin: auto;
    border: 3px solid black;

    /* * */
    padding: 1em;

    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#quote-body {
    font-family: 'Raleway', sans-serif;
    font-size: 3em;
}

#quote-author {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
}